@charset "UTF-8";
button:disabled {
  background: #808080 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #EDECFF !important;
  pointer-events: none;
}

footer i {
  background: url("../images/icon/footer_ic.png") no-repeat;
  background-size: 500%;
}

.agentPage .intro_ic {
  background: url("../images/agent_introIC.png") no-repeat;
  background-size: 100%;
}

header .logo {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #1E183C;
  font-size: 4vw;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html body {
  width: 100%;
  height: 100%;
}
html body main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6vh 0 8vh;
}
html body .bg {
  width: 100%;
  height: 100%;
  background: #1E183C;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -999;
}
html body header {
  width: 100%;
  height: auto;
  background: #312B4F;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
html body header .content {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 4vw;
}
html body header .content.index {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body header .content .inviteBtn {
  width: auto;
  height: 4vh;
  background: linear-gradient(-30deg, #FF29F1 0%, #00B0FF 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body header .content .inviteBtn.apply {
  padding: 0 6vw;
}
html body header .content .inviteBtn i {
  width: 6.5vw;
  height: 6.5vw;
  margin-right: 2vw;
}
html body header .content .inviteBtn p {
  text-align: left;
}
html body .filter {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5882352941);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
html body .filter.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .filter .jumpWindow {
  display: none;
  width: 92.27vw;
  height: auto;
  background: #2B2446;
  border-radius: 4vw;
  position: relative;
}
html body .filter .jumpWindow.display {
  display: block;
}
html body .filter .jumpWindow .title {
  width: 100%;
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow .title p {
  color: #EDECFF;
  font-size: 1.5rem;
  font-weight: bold;
}
html body .filter .jumpWindow i.close {
  width: 11vw;
  height: 11vw;
  background: #202326;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -14vw;
}
html body .filter .jumpWindow i.close::before, html body .filter .jumpWindow i.close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 40%;
  background: #ffffff;
  top: 50%;
  left: 50%;
}
html body .filter .jumpWindow i.close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
html body .filter .jumpWindow i.close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
html body .filter .jumpWindow.agentWindow form {
  width: 100%;
  height: auto;
  max-height: 66vh;
  overflow-y: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.agentWindow form label {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.agentWindow form label .itemName {
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1vw;
}
html body .filter .jumpWindow.agentWindow form label .itemName span {
  color: #FF3030;
  margin-right: 1vw;
}
html body .filter .jumpWindow.agentWindow form label input[type=text] {
  width: 100%;
  height: 13vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label button {
  width: auto;
  height: 13vw;
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.75rem;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 2vw;
}
html body .filter .jumpWindow.agentWindow form label .remind {
  color: #BEBEBE;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 4vw;
  margin-top: 1vw;
}
html body .filter .jumpWindow.agentWindow form label ul {
  margin-top: 1vw;
}
html body .filter .jumpWindow.agentWindow form label ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
html body .filter .jumpWindow.agentWindow form label ul li input {
  width: 4vw;
  height: 4vw;
  background: transparent;
  border-radius: 0.5vw;
  margin: 0 2vw 0 0;
  position: relative;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form label ul li input::before {
  content: "";
  width: 4vw;
  height: 4vw;
  border: 0.5vw solid #BEBEBE;
  border-radius: 1vw;
  background: #EDECFF;
  position: absolute;
  top: 0;
  left: 0;
}
html body .filter .jumpWindow.agentWindow form label ul li input::after {
  content: "√";
  font-size: 4vw;
  color: linear-gradient(to bottom, #463F72 0%, #232039 100%);
  position: absolute;
  top: -0.5vw;
  left: 1vw;
  opacity: 0;
}
html body .filter .jumpWindow.agentWindow form label ul li input:checked::after {
  opacity: 1;
}
html body .filter .jumpWindow.agentWindow form label ul li p {
  color: #A4BFFF;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}
html body .filter .jumpWindow.agentWindow form .check {
  width: auto;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 4vw;
}
html body .filter .jumpWindow.agentWindow form .check input {
  width: 4vw;
  height: 4vw;
  background: transparent;
  margin: 0 3vw 0 0;
  position: relative;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form .check input::before {
  content: "";
  width: 4vw;
  height: 4vw;
  border: 2px solid #A4BFFF;
  margin-right: 10px;
  border-radius: 50px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .filter .jumpWindow.agentWindow form .check input::after {
  content: "⬤";
  color: #EDECFF;
  font-size: 1rem;
  position: absolute;
  top: -1vw;
  left: 0.8vw;
  opacity: 0;
}
html body .filter .jumpWindow.agentWindow form .check input:checked::after {
  opacity: 1;
}
html body .filter .jumpWindow.agentWindow form .check p {
  color: #EDECFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form .close {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .filter .jumpWindow.ruleWindow .content {
  width: 100%;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.ruleWindow .content .textBox {
  width: 100%;
  height: auto;
  min-height: 20vh;
  max-height: 50vh;
  overflow-y: auto;
}
html body .filter .jumpWindow.ruleWindow .content .textBox p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 3vw;
}
html body .filter .jumpWindow.ruleWindow .content .close {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .agentPage {
  width: 96%;
  height: auto;
  margin: 0 auto;
}
html body .agentPage .textBox p {
  color: #EDECFF;
  font-size: 1rem;
  text-align: center;
}
html body .agentPage .textBox p.title {
  color: #6795FF;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: 6vw 0 4vw;
}
html body .agentPage .textBox p.subTitle {
  line-height: 1.4rem;
  margin: 0 0 4vw;
}
html body .agentPage .introBox {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#463F72), to(#232039));
  background: linear-gradient(to bottom, #463F72 0%, #232039 100%);
  border-radius: 2vw;
  padding: 6vw 2vw;
  margin: 0 0 4vw;
}
html body .agentPage .info p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
}
html body .agentPage .info p.title {
  margin: 0 0 3vw;
}
html body .agentPage .info p.content {
  font-size: 0.7rem;
  color: #BEBEBE;
  line-height: 1.2rem;
  margin: 0 0 4vw;
}
html body .agentPage .whyUS {
  width: 94%;
  height: auto;
  margin: 0 auto;
}
html body .agentPage .whyUS .intro_ic {
  width: 17vw;
  height: 17vw;
  margin: 0 3vw 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body .agentPage .whyUS .intro_ic.live {
  width: 22vw;
  height: 22vw;
  margin: 0 6vw 10vw 0;
  background-position-y: 0%;
}
html body .agentPage .whyUS .intro_ic.casino {
  background-position-y: 24%;
}
html body .agentPage .whyUS .intro_ic.transfer {
  background-position-y: 49%;
}
html body .agentPage .whyUS .intro_ic.profesional {
  background-position-y: 75%;
}
html body .agentPage .whyUS .intro_ic.nivel {
  background-position-y: 100%;
}
html body .agentPage .whyUS .top,
html body .agentPage .whyUS .down {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body .agentPage .whyUS .top .info p,
html body .agentPage .whyUS .down .info p {
  text-align: unset;
}
html body .agentPage .whyUS .top {
  border-bottom: 0.4vw solid #BEBEBE;
  margin-bottom: 4vw;
}
html body .agentPage .whyUS .down {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
html body .agentPage .whyUS .down .resultBox {
  width: 33%;
  height: 100%;
  padding: 2vw 4vw 0;
}
html body .agentPage .whyUS .down .resultBox:nth-of-type(2) {
  border-color: #BEBEBE;
  border-style: solid;
  border-width: 0 0.4vw 0 0.4vw;
}
html body .agentPage .whyUS .down .resultBox p {
  color: #EDECFF;
  font-size: 0.7rem;
  text-align: center;
}
html body .agentPage .whyUS .down .resultBox p.num {
  color: #00FFFF;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0 0 2vw;
}
html body .agentPage .whyUS .introBox:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  padding: 6vw;
}
html body .agentPage .whyUS .introBox:not(:first-child) .content {
  white-space: nowrap;
  margin: 0;
}
html body .agentPage .comisiones {
  width: 94%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vw;
  margin: 0 auto;
}
html body .agentPage .comisiones .title {
  color: #EDECFF;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 4vw 0 6vw;
}
html body .agentPage .comisiones img {
  width: 96%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 4vw;
}
html body .agentPage .comisiones .outer {
  width: 96%;
  height: auto;
  border-radius: 2vw;
  border: 1px solid #A4BFFF;
  margin-bottom: 4vw;
  overflow: hidden;
}
html body .agentPage .comisiones .outer table {
  width: 100%;
  height: auto;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(even) {
  background: #121A29;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(odd) {
  background: #23263C;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#469FE3), color-stop(70%, #6140B3));
  background: linear-gradient(to bottom, #469FE3 0%, #6140B3 70%);
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th {
  width: 50%;
  vertical-align: middle;
  padding: 2vw;
  position: relative;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th::before {
  content: "";
  width: 0.2vw;
  height: 5vw;
  background: #A4BFFF;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th:nth-of-type(2)::before {
  display: none;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}
html body .agentPage .comisiones .outer table tr td {
  vertical-align: middle;
  padding: 20px;
  position: relative;
}
html body .agentPage .comisiones .outer table tr td::before {
  content: "";
  width: 1px;
  height: 20px;
  background: #A4BFFF;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .agentPage .comisiones .outer table tr td:nth-of-type(2)::before {
  display: none;
}
html body .agentPage .comisiones .outer table tr td p {
  color: #EDECFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}
html body .agentPage button {
  width: 94%;
  height: 10vw;
  background: linear-gradient(-30deg, #FF29F1 0%, #00B0FF 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.9rem;
  margin: 0 auto;
}