//彈窗
.filter {
    display: none;
    width: 100%;
    height: 100%;
    background: $filter;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &.display {
        display: flex;
    }

    .jumpWindow {
        display: none;
        width: 92.27vw;
        height: auto;
        background: $jumpWindow_BG;
        border-radius: 4vw;
        position: relative;

        &.display {
            display: block;
        }

        .title {
            width: 100%;
            height: 16vw;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: $mainWord_1;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        i {

            &.close {
                width: 11vw;
                height: 11vw;
                @include closeBtn;
                left: 50%;
                transform: translateX(-50%);
                bottom: -14vw;
            }
        }

        //退傭代理
        &.agentWindow {

            form {
                width: 100%;
                height: auto;
                max-height: 66vh;
                overflow-y: auto;
                padding: 5vw;

                label {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: relative;
                    margin-bottom: 2vw;

                    .itemName {
                        color: $mainWord_1;
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 1vw;

                        span {
                            color: $remind;
                            margin-right: 1vw;
                        }
                    }

                    input[type="text"] {
                        width: 100%;
                        height: 13vw;
                        @include mainInput;
                    }

                    button {
                        width: auto;
                        height: 13vw;
                        @include secondBtn;
                        font-size: 0.75rem;
                        text-align: left;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) scale(0.8);
                        transform-origin: right;
                        right: 2vw;
                    }

                    .remind {
                        color: $mainWord_2;
                        font-size: 0.75rem;
                        font-weight: bold;
                        padding-left: 4vw;
                        margin-top: 1vw;
                    }

                    ul {
                        margin-top: 1vw;

                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;

                            input {
                                width: 4vw;
                                height: 4vw;
                                background: transparent;
                                border-radius: 0.5vw;
                                margin: 0 2vw 0 0;
                                position: relative;
                                cursor: pointer;

                                &::before {
                                    content: "";
                                    width: 4vw;
                                    height: 4vw;
                                    border: 0.5vw solid $mainBorder_1;
                                    border-radius: 1vw;
                                    background: $mainWord_1;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }

                                &::after {
                                    content: "√";
                                    font-size: 4vw;
                                    color: $subBG_1;
                                    position: absolute;
                                    top: -0.5vw;
                                    left: 1vw;
                                    opacity: 0;
                                }
                                
                                &:checked {
                                    &::after {
                                        opacity: 1;
                                    }
                                }                                
                            }

                            p {
                                color: $subWord_1;
                                font-size: 0.8rem;
                                font-weight: bold;
                                margin: 0;
                            }
                        }
                    }
                }

                .check {
                    width: auto;
                    height: 6vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto 4vw;

                    input {
                        width: 4vw;
                        height: 4vw;
                        background: transparent;
                        margin: 0 3vw 0 0;
                        position: relative;
                        cursor: pointer;

                        &::before {
                            content: "";
                            width: 4vw;
                            height: 4vw;
                            border: 2px solid $mainBorder_2;
                            margin-right: 10px;
                            border-radius: 50px;
                            background: transparent;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }

                        &::after {
                            content: "⬤";
                            color: $mainWord_1;
                            font-size: 1rem;
                            position: absolute;
                            top: -1vw;
                            left: 0.8vw;
                            opacity: 0;
                        }
                        
                        &:checked {
                            &::after {
                                opacity: 1;
                            }
                        } 
                    }

                    p {
                        color: $mainWord_1;
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .close {
                    width: 100%;
                    height: 11vw;
                    @include mainBtn;
                }
            }
        }

        &.ruleWindow {

            .content {
                width: 100%;
                height: auto;
                padding: 5vw;

                .textBox {
                    width: 100%;
                    height: auto;
                    min-height: 20vh;
                    max-height: 50vh;
                    overflow-y: auto;

                    p {
                        color: $mainWord_1;
                        font-size: 0.85rem;
                        font-weight: bold;
                        line-height: 1.2rem;
                        margin-bottom: 3vw;
                    }
                }

                .close {
                    width: 100%;
                    height: 11vw;
                    @include mainBtn;
                }
            }
        }
    }
}